@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
      /* Colors */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700:  #333333;
    --green: #C4F82A;
    --white: #FFFFFF;
    --black: #111;

    /* Text Preset 1 */
    --text-preset-1-size: 2.4rem; /* 24px */
    --text-preset-1-line-height: 1.5; /* 150% */
    --text-preset-1-font-weight: 800; /* Extra Bold */
    --text-preset-1-letter-spacing: 0rem; /* 0px */

    /* Text Preset 2 */
    --text-preset-2-size: 1.6rem; /* 16px */
    --text-preset-2-line-height: 1.5; /* 150% */
    --text-preset-2-font-weight: 500; /* Medium */
    --text-preset-2-letter-spacing: 0rem; /* 0px */

    /* Text Preset 3 */
    --text-preset-3-size: 1.4rem; /* 14px */
    --text-preset-3-line-height: 1.5; /* 150% */
    --text-preset-3-font-weight: 700; /* Bold */
    --text-preset-3-letter-spacing: 0rem; /* 0px */

    
    /* Spacing */
    --Spacing-500: 40px;
    --Spacing-300: 24px;
    --Spacing-200: 16px;
    --Spacing-150: 12px;
    --Spacing-100: 8px;
    --Spacing-50: 4px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-900);
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.card {
    display: flex;
    max-width: 38.4rem;
    padding: var(--Spacing-500);
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-300);
    border-radius: 1.2rem;
    background-color: var(--grey-800);
}

img {
    width: 88px;
    height: 88px;
    border-radius: 5rem;
    background: url(../assets/images/avatar-jessica.jpeg) lightgray 50% / cover no-repeat
}

header {
    flex: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: var(--Spacing-50);
    align-self: stretch;
}

h1 {
    margin: 0;
    color: var(--white);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--text-preset-1-line-height);
    align-self: stretch;
}
header>p {
    margin: 0;
    color: var(--green);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--text-preset-2-line-height);
    align-self: stretch;
}
.card>p {
    margin: 0;
    color: var(--white);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 70%;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
    padding: 0;
    list-style-type: none;
}

li {
    display: flex;
    padding: var(--spacing-150, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
    border-radius: 8px;
    width: 300px;
    background: var(--grey-700, #333);
    cursor: pointer;
    transition: all background-color 0.3 ease;
}

li:hover {
    background-color: var(--green);
}

li:hover a {
    color: var(--black, #000);
}

a {
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: var(--font-size-text-preset-2, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    align-items: stretch;
    cursor: hand;
    text-decoration: none;
}

a:hover {
    background-color: var(--green);
    color: var(--black);
}


.attribution {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: var(--white);
}

.attribution>a {
    font-size: 12px;
}

@media (max-width: 375px) {
    .card {
        width: 327px;
        padding: var(--Spacing-300);
        gap: var(--Spacing-300);
    }

    ul {
        gap: var(--Spacing-200);
    }
    li {
        width: 100%;

    }

    .attribution {
        font-size: 10px;
    }

    .attribution>a {
        font-size: 10px;
    }
}